* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#f9c5d1, #ffe6ec);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 90%;
    max-width: 450px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px #d67b9f;
}

h1 {
    margin-bottom: 10px;
    color: #d97aa8;
}

#quiz-container p {
    font-size: 20px;
    margin-bottom: 20px;
}

.opcao-btn {
    width: 100%;
    background: #f5bfd8;
    border: none;
    padding: 12px;
    margin: 6px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.opcao-btn:hover {
    background: #e497bc;
}

button {
    padding: 10px 20px;
    border: none;
    background: #d97aa8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #bf5f90;
}

.hidden {
    display: none;
}
